<% layout("/layouts/boilerplate")%> 
  <body>
<style>
  #filters{
   
    display:flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
font-size: 0.8rem;
  }
  .tax-info{
    display: none;
  }
  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3rem ;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
.tax-filters{
  border: 1px solid black;
    border-radius: 1rem ;
    height: 3rem ;
    padding: 1rem;
   margin-left: 6rem;
   display: flex;
opacity: 0.7;

}
.tax-filters p{
    align-items: center;
}
.tax-filters:hover{
  opacity: 1;
  cursor: pointer ;
}
  .arrow-left{
    font-size: 2rem;
    align-items: center;
  }
  .arrow-right{
    font-size: 2rem;
    align-items: center;
  }
</style>
 
  <div id="filters">
  
      <div class="arrow-left">
 <i class="fa-solid fa-circle-arrow-left"></i>
</div>
<div class="filter">
   <div> <i class="fa-solid fa-fire"></i></div> 
   <p>Trending</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
       </div>
       <div class="filter">
        <div><i class="fa-solid fa-city"></i></div>
        <p>Cities</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountains</p>
    </div>
    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-umbrella-beach"></i></div>
      <p>Beach</p>
    </div>
   
    <div class="filter">
      <div><i class="fa-solid fa-person-skiing"></i></div>
      <p>Skiing</p>
    </div>
    <div class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Pools</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-snowflake"></i></div>
      <p>Arctic</p>
    </div>
      <div class="arrow-right">
        <i class="fa-solid fa-circle-arrow-right"></i>
        </div>
      <div class="tax-filters">
        <div><i class="fa-solid fa-sliders"></i> </div>
        <p>Filters</p>
      </div>
        <div class="tax-toggle">
          <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total before taxes</label>
          </div>
          
        </div>
  </div>
  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
  <% for(let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
      
  <div class="card col listing-card" style="width: 20rem;" >
    <img src="<%= listing.image.url %>"
     class="card-img-top" alt="listing_image" style="height: 20rem;"/>
   <div class="card-img-overlay"></div>
    <div class="card-body">
      <p class="card-text">
       <b> <%= listing.title%><br></b>
        <%= listing.price.toLocaleString("en-IN")%>/night
        <i class="tax-info">&nbsp; &nbsp;+18% GST</i>
        <br></p>
    </div>
  </div>
  <% } %>
</div>
   
  </body>

<script>
  let taxSwitch= document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click",()=>{
let taxInfo= document.getElementsByClassName("tax-info");
for(info of taxInfo){
  if(info.style.display !="inline"){
info.style.display="inline";
}else{
  info.style.display="none";

  }
}
});
</script>
<script>
const left=document.querySelector('.arrow-left');
const right=document.querySelector('.arrow-right');
var element = document.getElementById("filte");
element.style.left = parseInt(element.style.left) - 5 + 'px';


</script>

   
