<footer>
    <div class="f-info">
        <div class="f-info-socials">
          <a href="https://www.facebook.com/airbnb/"><i class="fa-brands fa-facebook "></i></a>
           <a href="https://www.instagram.com/airbnb/" ><i class="fa-brands fa-instagram"></i></a>
           <a href="https://x.com/airbnb" ><i class="fa-brands fa-twitter"></i></a>
        </div>
         <div class="f-info-brand">&copy:WanderLust Private Limited</div>
        <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/Terms">Terms</a>
        <a href="/sitemap">sitemap</a>
       <a href="/comany details">comany detail</a> 
    </div>
    </div>
</div>
</footer>