<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
    <h3 class="col-6 offset-3">login on Wonderlust</h3>
    <div class="col-6 offset-3" >
<form action="/login" method="POST" class="needs-validation"novalidate>
    <div class="mb-3">
        <label for="username" class="form-lable">Username</label>
        <input name="username" id=" Username" type="text"class="form-control" required/>
        <div class=valid-feedback> Looks good!</div>
    </div>

    <div class="mb-3">
        <label for="password" class="form-lable">Password</label>
        <input name="password" id=" Password" type="password"class="form-control" required/>
    </div>
    <button class="btn btn-success">Login</button>
</form>
</div>
</div>
